:root {
    --primaryColor: #000000;
    --secondaryColor: #FFFFFF;
    --accentColor: #FF0000;
    --altFont: Georgia, serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: blue !important; 
    color: var(--primaryColor);
}

.fade-text {
    position: relative; 
    height: 1.5em; 
    overflow: hidden; 
}

.h-text {
    position: absolute; 
    display: none; 
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; /* Smooth fade effect */
}

.h-text.active {
    display: block; /* Show only the active element */
    opacity: 1; /* Fully visible when active */
}
